html {
  font-family: Georgia, serif;
  color: #fff;
}

.btn-ghost {
  text-decoration: none;
  border-color: #fff;
  background-color: #fff;
}

.btn-ghost:hover {
  background-color: #fff;
  border-color: #fff;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0));
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 90em) {

}
